@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.loginForm {
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: stretch;

   .title {
      font-size: 30px;
      line-height: 39px;
      color: $black;
      font-weight: 500;
      margin-bottom: 10px;
   }

   & > button {
      width: 100%;
      background: $green;
      color: $white;
      opacity: 0.9;
      border-radius: 11px;
      font-size: 18px;
      letter-spacing: 2px;
      padding: 0;
      height: 58px;
      border: none;

      &:hover {
         opacity: 1;
         color: white;
      }
   }

   .control {
      display: flex;
      justify-content: space-between;
      align-items: end;

      .link {
         color: $black;
         font-weight: 400;
         text-decoration: none;
         transition: 0.3s;
         margin-bottom: 4px;
         opacity: 0.7;
         &:hover {
            opacity: 1;
         }
      }
   }
}
